<p style="font-size: 18px; "><%=@article.title%></p>
<p><a href="/author/<%=@article.author%>"><%=@article.author_name%></a></p>
<%=@article.text%>

<a href="/" shape="rect">
<font color="#FF0000" face="Segoe Script" size="3"> ... zurückblättern</font></a></li>



