<p>&nbsp;</p>            
<ul>
<% @authors.each do |author|%> 
<li><a href="/author/<%=author.ID%>" title="" target="_blank" shape="rect"><h2><%=author.Name%></h2></a></li>
<% end %>
</ul>
<br><br><br>
<li style="list-style:none inside none;";> &nbsp;
         
		
 
 
 
