
    <p>&nbsp;</p>         
          
          <h2>Autoren auf Globalefreiheit:</h2>
		  <br>

<span class="listing" id="output">
<ul>
<% @authors.each do |author|%> 
	<li>
		<a href="/author/<%=author.id%>" shape="rect"><%=author.name%></a>
	</li>
<% end %>
</ul>
<li style="list-style:none inside none;";> &nbsp;
</span>



<a href="/" shape="rect">
<font color="#FF0000" face="Segoe Script" size="3"> ... zurückblättern</font></a></li>
         
		
 
 
 
