
          <div id="main"> <!-- ----------------------------------------------------------------------------------------------------------------------------------------------->
              
       
     <p> <br><b><span style="font-size: 20pt">Fast alles über Bitcoins: </span> </b> </p>
     
     
     
           
             <p>&nbsp;</p> 
 <p> Beiträge über Bitcoins auf <i>globale Freiheit</i>:</p>
 
 	 <div style="padding-top:20px"> 
           <a href="warumbitcoin.htm" shape="rect"> - Warum Bitcoin? (von Satoshi Nakamoto, gilt als Erfinder von Bitcoin)  </a>
	           </div> 
	           	           
	           <div style="padding-top:20px"> 
           <a href="bitcoin.htm" shape="rect"> - Bitcoin - Eine dezentrale, digitale Krypto-Währung revolutioniert den Geldmarkt (von Andre Hebbel) </a>
	
      <div style="padding-top:20px"> 
           <a href="117.keinekompromisse.php" shape="rect"> - Bitcoins - Keine Kompromisse (von Frank Braun) </a>
	
           </div>

<br><br>
<p>Bitcoin - eine gänzlich andere Währung (Jens Christian Fischer): </p>

<p><span class='embed-youtube' style='text-align:left; display: block;'>
<iframe class='youtube-player' type='text/php' width='360' height='220' 
src='http://www.youtube.com/v/f3UCfuq44Yo?version=3&amp;autohide=1' frameborder='0'>
</iframe></span></p><br>
<br><br>



     <p>----------------------------------------------------------------------------------------------------------------</p>     
     <br>
     	      <p>Links: </p>
     	      
      <br>
       <p>Bitcoin - Wiki (inklusive grösstem englisch- und deutschsprachigem Forum) :</p>
     
          <li>
              <a href="https://de.bitcoin.it/wiki/Hauptseite"title="" target="_blank" shape="rect">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;bitcoin.it/wiki</a>
            </li><br>
          
            
<br>       
            
   
       <p>Bitcoin-Client (Brieftasche) :</p>
     
          <li>
              <a href="http://sourceforge.net/projects/bitcoin/"title="" target="_blank" shape="rect">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;sourceforge.net</a>
            </li><br>
       
<br>     
        
                   <p>Bitcoin - Statistiken:</p>
     
          <li>
              <a href="http://blockchain.info/"title="" target="_blank" shape="rect">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;blockchain.info</a>
            </li><br>
           
<br>           
			 <p>Bittcoin - Charts:</p>
            
              <li>
              <a href="http://bitcoinity.org/markets/bitstamp/USD"title="" target="_blank" shape="rect">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;bitcoinity.org</a>
            </li><br>
<br>              
        	 <p>BXB - Bitcoin Exchange Berlin - Europas erste öffentliche Bitcoin-Börse:</p>
            
              <li>
              <a href="http://www.bitcoin-exchange-berlin.com/"title="" target="_blank" shape="rect">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;bitcoin-exchange-berlin.com</a>
            </li><br>
            
<p>----------------------------------------------------------------------------------------------------------------</p>                  
         
      <br>
<p>Unsere Bitcoin Addresse: <br><br>
1JbJvL5vs5vo4Hrh2L7gkdd1Z3jdyf2Hh3
</p>

<br>


<p>Unsere Litecoin Addresse: <br><br>
Lf5vVgSW3MuX9QVZb2UYTVmJNfLwBTutE3
 </p>

<br>

<p>Vielen Dank!</p>

            
         
                  	</div>
                  	
                  	
                  	
   <p>&nbsp;</p>  
   
   

       
       
     
   <p>&nbsp;</p> 

	<p>&nbsp;<br><br> </p>
			
            <li style="list-style:none inside none;";> &nbsp;
 <a href="/" shape="rect">
<font color="#FF0000" face="Segoe Script" size="3"> ... zurückblättern</font></a></li>
      
	</ul>

</div>