        <div id="slider1">  
	        <ul id="slider1Content">
          
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/baader.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/baader2.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/baader3.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
		   
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/baader4.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
		   
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/baader6.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/blankertz3.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
		  
		  
              
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/blankertz.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/blankertz5.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/blankertz2.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/otto1.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/david1.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/hayek.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/hoppe1.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/hoppe2.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/hoppe3.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/janich.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/janich2.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/soeren1.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/samuel1.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/lennartz.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/marquart.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/carl1.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/alice1.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/alice2.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
                 <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/mises22.jpg" />  
                  <span class="bottom" style="display: inline;">
                  </span> 
                </a> 
              </li>
         
                
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/mises55.jpg" />  
                  <span class="bottom" style="display: inline;">
                  </span>                      
                </a> 
              </li>
              
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/mises1.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
                  
              <li class="slider1Image"> 
                <a href="" shape="rect"> 
                  <img src="images/slider/mises44.jpg" />  
                  <span class="bottom" style="display: inline;">
                  </span> 
                </a> 
              </li>
              
        
     
     
              
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/murphy1.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
            

              
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/akif1.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
            
              
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/ayn1.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
            
              
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/murray2.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
            
           
              
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/murray.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
            
              
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/lysander1.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
            
           
              
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/andre1.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
            
              
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/max1.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
            
              
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/rahim1.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
            
              
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/rahim2.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
            
              
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="images/slider/rahim3.jpg" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
            
              
              
              

          <!---------------------------------------------------------------------- Bilder Ende  --------------------------------------------------------------------------------> 
              
              
              
              
              
              <li class="slider1Image" style="clear:both"></li>
            </ul>  
            <div id="sliderLeftMask"></div>  
            <div id="sliderRightMask"></div> 
