        <div id="slider1">  
	        <ul id="slider1Content">
          
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/166.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
	
              
            
              
              
              

          <!---------------------------------------------------------------------- Bilder Ende  --------------------------------------------------------------------------------> 
              
              
              
              
              
              <li class="slider1Image" style="clear:both"></li>
            </ul>  
            <div id="sliderLeftMask"></div>  
            <div id="sliderRightMask"></div> 
