<div id="main"><br>

																								
<p>	<p style="font-size: 18px;">Unsere <i>Community</i> ist die Welt</p>
<br>

Vielleicht ist es euch bereits aufgefallen, diese Seite möchte den etwas anderen Weg gehen.  <br>
Und dass auch noch konsequent. So gibt es hier keine Möglichkeiten für gesetzliche Zahlungsmittel, <br>
und anmelden kann man sich auch nirgends, nichtmal eine Kommentarfunktion gibt es, geschweige denn ein Forum. 
<br><br>
Warum nicht?
<br><br>
Weil wir keine Menschensammler sind. Wir wollen globale Freiheit verbreiten und nicht hier sammeln. <br>
Und was wir schon mal gar nicht wollen, ist eine bestimmte Gruppe von Menschen hier zu sammeln. <br>
Wir möchten alle Menschen ansprechen und einladen frei zu sein, nicht nur hier, sondern überall. 
<br><br>
Was bringt ein Forum ausser Zeitverschwendung? 
<br><br>
Sicher kann ein Forum auch mal ganz nett und auch mal sinnvoll sein, <br>
doch wem wirklich etwas Schlaues auf der Zunge brennt, der ist auch schlau genug daraus einen Artikel zu machen,<br>
und uns diesen zukommen zulassen oder selbst irgendwo zu verbreiten. <br>
Das ist was wir von euch wollen, Freiheit global verbreiten und nicht hier sammeln. 
<br><br>
Was bringt eine Kommentarfunktion ausser Zeitverschwendung? 
<br><br>
Sicher können auch dort mal schlaue und sinnvolle Sachen geschrieben werden, <br>
doch gehen diese meist ein paar Tage später wieder unter, in den weiten des Netzes.  <br>
Also ist es doch ebsser gleich selber einen Artikel zu schreiben und sich mal frei zu machen. <br>
Das ist was wir von euch wollen, Freiheit global verbreiten und nicht hier sammeln.
<br><br>
Dafür bekommt ihr nicht nur ein Dankeschön, im Namen all jener die hier mitlesen,  <br>
sondern auch einen ganzen Haufen Komplimente, und zwar die Grössten die man überhaupt machen kann: <br>
ihr werdet kopiert ... und verbreitet ... und verlinkt ... ;-)
<br><br>
Wir wollen, dass diese Seite unabhängig bleibt und wir wollen irgendwann einmal wirklich frei sein, <br>
in naher Zukunft, in einer neuen Zeit, aber mit den alten Menschen. <br> 
Eine Zeit, in der es der Vergangenheit angehört, dass es als rechtens angesehen wird,<br>
mit Gewalt erzwungene Herrschaft über Unschuldige Menschen auszuüben und sich ständig in Foren anzupöbeln.<br><br>

Was wir nicht wollen, ist <i>geliked</i> oder <i>gedissliked</i> werden.  <br>
Denn Freiheit lässt sich nicht beurteilen und wir sind auch nicht die globale Freiheit,  <br>
ja wir wissen noch nicht einmal, was in Freiheit auf der Welt passiert.  <br>
Wir wollen sie nur verbreiten, so mutig sind wir. 
<br><br>
Wir tun das, weil alle Probleme zwischen Menschen aus Unfreiheit zwischen ihnen resultieren,  <br> 
und folglich Freiheit daher die einzige Lösung ist. Ob man es glaubt oder nicht.  <br>
Wir tun das, weil wir das gesellschaftliche Streben der Menschen nach Freiheit,  <br>
als einen evolutionären Prozess verstehen, den wir unterstützen wollen.  
<br>
Einst waren wir Sklaven, dann Leibeigene, nun Bürger und irgendwann werden wir frei sein. 
 <br><br>
Dafür benötigen wir keine Arena, dafür benötigen wir Dich! 
<br><br>
Globale Freiheit oder wie immer ihr es nennt, ob Libertarismus, Voluntarismus oder schlicht Anarchie, <br>
bedeutet Selbstbestimmung und Herrschaftslosigkeit, überall und für alle Menschen, die niemandem etwas getan haben. <br>
Unser Mittel ist das Nicht-Aggressions-Prinzip, unsere Kommunikation ist gewaltfrei. Unsere <i>Community</i> ist die Welt.
<br> <br><br>
Unsere Email lautet: info@globalefreiheit.de - unsere Handynummer: 0174 - 7730554 (jederzeit gerne) <br><br><br>

"Freiheit ist kein Modell, Freiheit ist Risiko. <br>
Wo das Risiko beginnt, an diesem Punkt fängt man an zu leben.<br>
Dort beginnt die Liebe."<br>
(Karl Heinz)
</p>







<br><br>
	<p>&nbsp;</p>
			
              <ul style="list-style:none inside none; text-transform:uppercase;margin:0;padding:0;">
                <li style="width:250px; float:left; margin-right:90px ;">
                  <p align="left" style="text-align: left">
					<span style="text-transform: none"><a href="index.php" shape="rect">
					<font size=3 font face="Segoe Script"font color="#FF0000">
					... zurückblättern</font></a></span></p>
                </li>
              
         




</div> 
       
      <div id="sidebar"> 
                  	
            <p style="font-size: 18px;text-align:center;"></p>
            
            	    
               <div class="bloc rounded" style="margin-top:40px;text-align:left; background-color:#99CCFF">  
                            
                <ul><li><a href="<%=url("/article/61")%>" title="">Begriffe und <br>Unterscheidungen </li></ul>
               				
  			  </div>
  			  
			 
              
    
               <div class="bloc rounded" style="margin-top:40px;text-align:left; background-color:#99CCFF">  
                            
                <ul><li><a target="_blank" href="<%=url("/faq")%>" title="">FAQs <br>(Konzeptpapier) </li></ul>
               				
  			  </div>
			  
			  
			   <br><br><br>
                                
                             <div class="bloc rounded" style="margin-top:40px;text-align:left; background-color:#FF99CC">  
                            
                <ul><li><a target="_blank" href="<%=url("/article/129")%>" title="">Allg. Beantwortung <br>von Leserbriefen </li></ul>
               				
  			  </div>
              
           
			  
                 <div class="bloc rounded" style="margin-top:40px;text-align:left; background-color:#99FFCC">  
                            
                <ul><li><a href="<%=url("/article/82")%>" title="">Wie man einen <br>Artikel schreibt </li></ul>
               				
  			  </div>
              
              <br><br><br>
  			  
  			 			  
              
              
        
  			  
              
              

                     
              
</div>
              
