<?php

define('INCLUDE_CHECK',true); // als zugriffsschutz für außenstehende

          <div id="main"> <!-- ----------------------------------------------------------------------------------------------------------------------------------------------->
              
       <br>
           <p style="font-size: 18px;">Impressum:</p>


<p>Angaben gemäß § 5 TMG:</p>

<p>Phillip Boch und Sascha Baltruschat </p>


<p>Kontakt:</p>

<p>e-mail: info@globalefreiheit.de</p>

<p>Handy: 0174-7730554</p>
<br><br><br>

<p style="font-size: 14px;">Diese Seite ist ständig im Aufbau und erhebt niemals den Anspruch auf Vollständigkeit! <br> <br>

Soweit nicht anders angegeben wird keinerlei Copyright beansprucht. <br>
Alles auf dieser Seite darf beliebig kopiert und verbreitet werden. <br> <br>

Alle nichtbenannten Artikel stammen von Karl Heinz und Karl Heinz sagt: <br><br>

Danke für jede Verbreitung!</p>

<p>

&nbsp;</p><p>&nbsp;</p>

<p style="font-size: 12px;"><b>Rechtshinweis</b>:<br>
Mit Urteil vom 12. Mai 1998 – 312 O 85/98 – &quot;Haftung für Links&quot; hat das 
Landgericht (LG) Hamburg entschieden, dass man durch die Ausbringung eines Links 
die Inhalte der gelinkten Seite gegebenenfalls mit zu verantworten hat. Dies 
kann – so das LG – nur dadurch verhindert werden, dass man sich ausdrücklich von 
diesen Inhalten distanziert. Hiermit distanzieren wir uns ausdrücklich von allen 
Inhalten aller gelinkten Seiten auf dieser Homepage und machen uns diese Inhalte 
nicht zu eigen. Diese Feststellung gilt für alle innerhalb des eigenen 
Internetangebotes gesetzten Links und Verweise, sowie für Fremdeinträge in von 
uns eingerichteten Kommentarlisten. Für illegale, fehlerhafte oder 
unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder 
Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein der 
Anbieter der Seite, auf welche verwiesen wurde, nicht derjenige, der über Links 
auf die jeweilige Veröffentlichung lediglich verweist.</p>


