																								
<br>
<p>blogs deutsch</p>	

	<p>
	  
		
		 <li>
              <a href="http://www.freiwilligfrei.info/" title="" target="_blank" shape="rect"><h2>FreiwilligFrei</h2></a>
            </li>
			
		 <li>
              <a href="http://www.voluntarist.de/"title="" target="_blank" shape="rect"><h2>Voluntarist</h2></a>
            </li>																		
                                
                              <li>
              <a href="http://rider650.tumblr.com/"title="" target="_blank" shape="rect"><h2>Rider650<h2></a>
            </li>
                          
                  <li>
              <a href="http://anarcho-kapitalismus.de/"title="" target="_blank" shape="rect"><h2>Anarcho-Kapitalismus</h2></a>
            </li>
           
                                                                 <li>
              <a href="http://etwasanderekritik.wordpress.com/"title="" target="_blank" shape="rect"><h2>Etwasanderekritik</h2></a>
            </li>

   
                           <li>
              <a href="http://www.apriorist.de/modx/index.php"title="" target="_blank" shape="rect"><h2>Der Apriorist</h2></a>
            </li>
                 
              
              <li>
              <a href="http://wertfreiheit.wordpress.com/"title="" target="_blank" shape="rect"><h2>Wertfreiheit</h2></a>
            </li>
                  
                        <li>
              <a href="http://www.stefanblankertz.de/"title="" target="_blank" shape="rect"><h2>Stefan Blankertz<h2></a>
            </li>
               
                              
              <li>
              <a href="http://www.petersdurchblick.com/"title="" target="_blank" shape="rect"><h2>Peters Durchblick</h2></a>
            </li>
            
                 
      <li>
              <a href="http://www.lieberlibertarismus.org/"title="" target="_blank" shape="rect"><h2>Lieber Libertarismus<h2></a>
            </li>
            
                 <li>
              <a href="http://www.libertaere-rundschau.de/"title="" target="_blank" shape="rect"><h2>Libertaere Rundschau<h2></a>
            </li>        
          
                                      


                      <li>
              <a href="http://zuercherin.com"title="" target="_blank" shape="rect"><h2>Die Zuercherin</h2></a>
            </li>
            

				
                      <li>
              <a href="http://anarchonaut.wordpress.com/2014/01/25/prinzipielle-funktionsweise-einer-voluntaristischen-gesellschaft/"title="" target="_blank" shape="rect">
			  <h2>Die Anarchonauten</h2></a>
            </li>
            

			
                <li>
              <a href="http://derfreiheitliche.wordpress.com/"title="" target="_blank" shape="rect"><h2>Der Freiheitliche<h2></a>
            </li>
                    
                

					  
                <li>
              <a href="http://self-ownership.net"title="" target="_blank" shape="rect"><h2>Self Ownership<h2></a>
            </li>
                    
                   
                        <li>
              <a href="http://www.freiheitsfabrik.de/"title="" target="_blank" shape="rect"><h2>Freiheitsfabrik<h2></a>
            </li>
              
                 
                        <li>
              <a href="http://dominikhennig.blogspot.de/"title="" target="_blank" shape="rect"><h2>Eine neue Freiheit<h2></a>
            </li>
              
              
 <li>
              <a href="http://libertarian.blogsport.de/"title="" target="_blank" shape="rect"><h2>Libertaere Gedanken<h2></a>
            </li>        
          


			  <li>
              <a href="http://marco-kanne.de/"title="" target="_blank" shape="rect"><h2>Marco Kanne<h2></a>
            </li>        
          
        
                    <li>
              <a href="http://crederechannel.blogspot.de/"title="" target="_blank" shape="rect"><h2>Credere Channel<h2></a>
            </li>
            
                 
                <li>
              <a href="http://derkaninchenbau.blogspot.de/"title="" target="_blank" shape="rect"><h2>Der Kaninchenbau<h2></a>
            </li>
                       
                         <li>
              <a href="http://ee-einfacheresel.de/"title="" target="_blank" shape="rect"><h2>Einfacher Esel<h2></a>
            </li>
                    
   <li>
              <a href="http://www.oliverjanich.de/"title="" target="_blank" shape="rect"><h2>Oliver Janich<h2></a>
            </li>
                        
   <li>
              <a href="http://libertarianps.blog.de/"title="" target="_blank" shape="rect"><h2>PS`s Libertarian Blog<h2></a>
            </li>
               
			   
			   
                    <li>
              <a href="http://www.der-freie-mann.com/"title="" target="_blank" shape="rect"><h2>Der freie Mann<h2></a>
            </li>
            
           
                     <li>
              <a href="http://sfl-heidelberg.de/"title="" target="_blank" shape="rect"><h2>Students for Liberty</h2></a>
            </li>           
              
                     <li>
              <a href="http://www.freitum.de/"title="" target="_blank" shape="rect"><h2>Freitum</h2></a>
            </li>           
                    
                           <li>
              <a href="http://www.misesde.org/"title="" target="_blank" shape="rect"><h2>Ludwig von Mises Institut (Deutschland)</h2></a>
            </li>
          
                        <li>
              <a href="http://freiheitswerk.org/"title="" target="_blank" shape="rect"><h2>Freiheitswerk</h2></a>
            </li>
              
       
                    
                <li>
              <a href="http://akifpirincci.blogspot.de/"title="" target="_blank" shape="rect"><h2>Akif Pirincci<h2></a>
            </li>
          
    
              
           <li>
              <a href="http://gerhardbreunig.de/b2evolution/blog1.php"title="" target="_blank" shape="rect"><h2>Deutschland-Pranger<h2></a>
            </li>
             
                        <li>
              <a href="http://modelhof.ch/"title="" target="_blank" shape="rect"><h2>Modelhof</h2></a>
            </li>
            
                    <li>
              <a href="https://susannekablitz.wordpress.com/"title="" target="_blank" shape="rect"><h2>Susanne Kablitz<h2></a>
            </li>
            
           
                        <li>
              <a href="http://libertaer.wordpress.com/"title="" target="_blank" shape="rect"><h2>Libertaere Plattform</h2></a>
            </li>
                
                      
                 <li>
              <a href="http://weltwirtschaft.jimdo.com/globaler-interventionismus/"title="" target="_blank" shape="rect"><h2>Weltwirtschaft<h2></a>
            </li>  
              
                 <li>
              <a href="http://biscuits.drupalgardens.com/"title="" target="_blank" shape="rect"><h2>biscuits<h2></a>
            </li> 
			
			
                 <li>
              <a href="http://lebenfreiheiterfolg.weebly.com/"title="" target="_blank" shape="rect"><h2>Leben Freiheit Erfolg<h2></a>
            </li>  
            
                  
                           <li>
              <a href="http://www.hayek.de/"title="" target="_blank" shape="rect"><h2>Friedrich A. von Hayek-Gesellschaft</h2></a>
            </li>
          
          
           <li>
              <a href="http://blog.wladimirkaminer.de"title="" target="_blank" shape="rect"><h2>Wladimir Kaminer<h2></a>
            </li>
                         
              <li>
              <a href="http://handsonicblog.wordpress.com/"title="" target="_blank" shape="rect"><h2>handsonic<h2></a>
            </li>
                 
           <li>
              <a href="http://pinksliberal.wordpress.com/"title="" target="_blank" shape="rect"><h2>Jenny`s Blog<h2></a>
            </li>
                            
              <li>
              <a href="http://www.schottie.de/"title="" target="_blank" shape="rect"><h2>Schottie<h2></a>
            </li>
                          
                      <li>
              <a href="http://jagdblut.de/"title="" target="_blank" shape="rect"><h2>Jagdblut<h2></a>
            </li>  
                       
                      <li>
              <a href="http://www.youtube.com/user/SonsofLibertas"title="" target="_blank" shape="rect"><h2>Sons of Libertas</h2></a>
            </li>
            
                          
           
                
  
            <br>
            
            <p>englisch</p>
               
            <li>
              <a href="http://freedomainradio.com/"title="" target="_blank" shape="rect"><h2>Freedomain Radio - by Stefan Molyneux<h2></a>
            </li>
            
             <li>
              <a href="http://larkenrose.com/"title="" target="_blank" shape="rect"><h2>Larken Rose<h2></a>
            </li>
           
                                          <li>
              <a href="http://www.lewrockwell.com/"title="" target="_blank" shape="rect"><h2>Lew Rockwell</h2></a>
            </li>
            
                                          <li>
              <a href="http://www.hanshoppe.com/"title="" target="_blank" shape="rect"><h2>Hans Hermann Hoppe</h2></a>
            </li>
            
			
           <li>
              <a href="http://www.stephankinsella.com/"title="" target="_blank" shape="rect"><h2> Stephan Kinsella<h2></a>
            </li>
            
			
           <li>
              <a href="http://www.jacobspinney.com/blog/"title="" target="_blank" shape="rect"><h2>Jacob Spinney<h2></a>
            </li>
            
                        
                <li>
              <a href="http://www.strike-the-root.com/"title="" target="_blank" shape="rect"><h2>Strike The Root<h2></a>
            </li>  
            
            
                <li>
              <a href="http://www.youtube.com/user/RjWeapon"title="" target="_blank" shape="rect"><h2>RjWeapon<h2></a>
            </li>  
            
              <li>
              <a href="https://adamvstheman.com/"title="" target="_blank" shape="rect"><h2>Adam VS The Man<h2></a>
            </li>
            
            
            <li>
              <a href="http://attackthesystem.com/"title="" target="_blank" shape="rect"><h2>Attack the System<h2></a>
            </li>
               
            <li>
              <a href="http://thedangeroustimes.com/"title="" target="_blank" shape="rect"><h2>the dangerous times<h2></a>
            </li>          
      
                    <li>
              <a href="http://nielsio.tumblr.com/"title="" target="_blank" shape="rect"><h2>Nielsio<h2></a>
            </li>  
            
               <li>
              <a href="http://www.rawilson.com/home.html"title="" target="_blank" shape="rect"><h2>Robert Anton Wilson<h2></a>
            </li>
  
              <br><br>
                                    
                     
                              
      
                               
            <p>Freilernen / Homeschooling</p>
            
               <li>
              <a href="http://www.leben-ohne-schule.de/"title="" target="_blank" shape="rect"><h2>Leben ohne Schule<h2></a>
            </li>
                 
               <li>
              <a href="http://derblauebrief.net/about/"title="" target="_blank" shape="rect"><h2>Der blaue Brief<h2></a>
            </li>
              
               <li>
              <a href="http://methodos-ev.org/"title="" target="_blank" shape="rect"><h2>Methodos<h2></a>
            </li>
            
               <li>
              <a href="http://permation.de/"title="" target="_blank" shape="rect"><h2>Akademie fuer Permation<h2></a>
            </li>
                        
                <li>
              <a href="http://www.alice-miller.com/"title="" target="_blank" shape="rect"><h2>Alice Miller</h2></a>
            </li>
            
			
			
                            <li>
              <a href="http://oekologiedeslernens.jimdo.com/"title="" target="_blank" shape="rect"><h2>Oekologie des Lernens</h2></a>
            </li>
            
                            <li>
              <a href="http://www.andrestern.com/"title="" target="_blank" shape="rect"><h2>Andre Stern</h2></a>
            </li>
            
                <li>
              <a href="http://www.gerald-huether.de/"title="" target="_blank" shape="rect"><h2>Gerald Huether</h2></a>
            </li>
            
            
               <br><br>
            
          

                        <p>Übersetzungsprojekte</p>
            
                                          <li>
              <a href="http://www.lysanderspooner.org/"title="" target="_blank" shape="rect"><h2>Lysander Spooner</h2></a>
            </li>
            
             <li>
              <a href="http://www.aynrandaufdeutsch.de/"title="" target="_blank" shape="rect"><h2>Ayn Rand <h2></a>
            </li>
              
             <li>
              <a href="http://bastiat.de/index2.html"title="" target="_blank" shape="rect"><h2>Frederic Bastiat<h2></a>
            </li>
              
             <li>
              <a href="http://soren-kierkegaard.virtusens.de/"title="" target="_blank" shape="rect"><h2>Soren Kierkegaard<h2></a>
            </li>
                
            <li>
              <a href="http://c4ss.org/"title="" target="_blank" shape="rect"><h2>Center for a Stateless Society<h2></a>
            </li>
          
            <br><br>



     
            <p>Künstler</p>
            
                           <li>
              <a href="http://oberrand.wordpress.com/"title="" target="_blank" shape="rect"><h2>Oberflaeschenrandbereich<h2></a>
            </li>
            
            
               <li>
              <a href="http://www.comicallyincorrect.com/"title="" target="_blank" shape="rect"><h2>comically incorrect<h2></a>
            </li>
            
                      <li>
              <a href="http://antiantiunderground.com/"title="" target="_blank" shape="rect"><h2>anti-anti underground<h2></a>
            </li></p>
            

 
<br><br><br>
  <li style="list-style:none inside none;";> &nbsp;
 <a href="/" shape="rect">
<font color="#FF0000" face="Segoe Script" size="3"> ... zurückblättern</font></a></li>