																							
<br>
<span style="font-size:150%">
	
	
	
	

<br>

<div id="spaltencontainer">


  <div class="spalte">

    <h4>Youtube-Kan&auml;le (deutsch):</h4>
    
     <li>
      <a target="_blank" href="https://www.youtube.com/channel/UC1HrjWl2HtevzaA2XltLUow" class="youtubeverweise">GLOBALE FREIHEIT</a>
      </li>
    
    
      <li>
      <a target="_blank" href="https://www.youtube.com/user/FreiwilligFrei" class="youtubeverweise">freiwilligfrei</a>
      </li>
    
      <li>
      <a target="_blank" href="https://www.youtube.com/user/manuelmeint" class="youtubeverweise">Manuel Meint</a>
      </li>
    
      <li>
      <a target="_blank" href="https://www.youtube.com/user/heikophilo" class="youtubeverweise">Heiko Cochius</a>
      </li>
    
      <li>
      <a target="_blank" href="https://www.youtube.com/user/oheuler" class="youtubeverweise">Oliver Heuler</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/Chlorhuhn" class="youtubeverweise">Chlorhuhn</a>
      </li>
    
      <li>
      <a target="_blank" href="https://www.youtube.com/channel/UCfQJbKi49Xt9SzppAZgAPVg" class="youtubeverweise">Goldener Broiler</a>
      </li>
    
      <li>
      <a target="_blank" href="https://www.youtube.com/user/OliverJanich" class="youtubeverweise">Oliver Janich</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/CredereChannel" class="youtubeverweise">Martin Finger</a>
      </li>
    
      <li>
      <a target="_blank" href="https://www.youtube.com/user/Freiheitsfunke" class="youtubeverweise">Freiheitsfunke</a>
      </li>
    
        <li>
      <a target="_blank" href="https://www.youtube.com/channel/UCtzidL8XjgGmIlMEyGG52XA" class="youtubeverweise">Roberto Solano</a>
      </li>
      
        <li>
      <a target="_blank" href="https://www.youtube.com/channel/UCSLnD8xd-81Lc96OE9kBkOQ" class="youtubeverweise">Charly Krüger</a>
      </li>
      
      <li>
      <a target="_blank" href="https://www.youtube.com/channel/UCxctM4ryyQl2_lqOfyYkgYg" class="youtubeverweise">Stimme der Vernunft</a>
      </li>
    
      <li>
      <a target="_blank" href="https://www.youtube.com/user/Wertewirtschaft" class="youtubeverweise">Institut f&uuml;r Wertewirtschaft</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/misesde" class="youtubeverweise">Misesde</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/SonsofLibertas" class="youtubeverweise">Sons of Libertas</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/channel/UCz0k8rJctAmuweFc86_xj-g" class="youtubeverweise">Michael Siegmund</a>
      </li>
    
    
  </div>
         

  <div class="spalte">

    <h4>Youtube-Kan&auml;le (englisch):</h4>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/stefbot" class="youtubeverweise">Stefan Molyneux</a>
      </li>
    
      <li>
      <a target="_blank" href="https://www.youtube.com/user/LarkenRose" class="youtubeverweise">Larken Rose</a>
      </li>
    
      <li>
      <a target="_blank" href="https://www.youtube.com/channel/UCFJNcE0iHj7P6dhp5iCZRLg" class="youtubeverweise">LearnLiberty</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/LibertyInOurTime" class="youtubeverweise">LibertyinOurTime</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/StatelessLiberty" class="youtubeverweise">StatelessLiberty</a>
      </li>
    
      <li>
      <a target="_blank" href="https://www.youtube.com/user/praxgirl" class="youtubeverweise">Praxgirl</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/AdamKokesh" class="youtubeverweise">Adam Kokesh</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/JosieTheOutlaw1" class="youtubeverweise">Josie Outlaw1</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/LewRockwellShow" class="youtubeverweise">Lew Rockwell</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/nskinsella" class="youtubeverweise">Stephan Kinsella</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/JacobSpinney" class="youtubeverweise">Jacob Spinney</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/jatucker321" class="youtubeverweise">Jeffrey Tucker</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/watch?v=YX14hDJTI4s" class="youtubeverweise">Robert Murphy</a>
      </li>
    
    
     
  </div>

                
      
                  
   
</div>

                 
                  	
<br style="clear:both;">
<p>&nbsp;<br><br> </p>
<p style="text-align: center">***</p>



  
      
              
</div>
	
	
	
	
<h4> blogs deutsch: </h4>	

	<p>
	  
		
		 <li>
              <a href="http://www.freiwilligfrei.info/" title="" target="_blank" shape="rect">FreiwilligFrei</a>
            </li>
			
		 <li>
              <a href="http://www.voluntarist.de/"title="" target="_blank" shape="rect">Voluntarist</a>
            </li>																		
                                
                              <li>
              <a href="http://rider650.tumblr.com/"title="" target="_blank" shape="rect">Rider650</a>
            </li>
                          
                  <li>
              <a href="http://anarcho-kapitalismus.de/"title="" target="_blank" shape="rect">Anarcho-Kapitalismus</a>
            </li>
           
                                                                 <li>
              <a href="http://etwasanderekritik.wordpress.com/"title="" target="_blank" shape="rect">Etwasanderekritik</a>
            </li>

   
                           <li>
              <a href="http://www.apriorist.de/modx/index.php"title="" target="_blank" shape="rect">Der Apriorist</a>
            </li>
                 
                           <li>
              <a href="http://praxorg.net/"title="" target="_blank" shape="rect">Praxorg Institut</a>
            </li>
            
            
            
                  
                           <li>
              <a href="http://derintellektuelle.blogspot.de/"title="" target="_blank" shape="rect">der intellektuelle blog</a>
            </li>
            
            
            
                 	
			<li>
		<a href="http://www.chlorhuhn.de/"title="" target="_blank" shape="rect">Chlorhuhn</a>
			</li>	

              	
		 <li>
              <a href="http://goldbroiler-show.de/"title="" target="_blank" shape="rect">Goldbroiler-Show</a>
            </li>																		
            
              <li>
              <a href="http://wertfreiheit.wordpress.com/"title="" target="_blank" shape="rect">Wertfreiheit</a>
            </li>
                  
                        <li>
              <a href="http://www.stefanblankertz.de/"title="" target="_blank" shape="rect">Stefan Blankertz</a>
            </li>
               
                              
              <li>
              <a href="http://www.petersdurchblick.com/"title="" target="_blank" shape="rect">Peters Durchblick</a>
            </li>
            
                 
    
                 <li>
              <a href="http://www.libertaere-rundschau.de/"title="" target="_blank" shape="rect">Libertaere Rundschau</a>
            </li>        
        

                      <li>
              <a href="http://zuercherin.com"title="" target="_blank" shape="rect">Die Zuercherin</a>
            </li>
            

				
                      <li>
              <a href="http://anarchonaut.wordpress.com/2014/01/25/prinzipielle-funktionsweise-einer-voluntaristischen-gesellschaft/"title="" target="_blank" shape="rect">
			  Die Anarchonauten</a>
            </li>
            

			
                <li>
              <a href="http://derfreiheitliche.wordpress.com/"title="" target="_blank" shape="rect">Der Freiheitliche</a>
            </li>
                  
                      <li>
              <a href="https://michaelsanchezblog.wordpress.com/"title="" target="_blank" shape="rect">Michael Sanchez Blog </a>
            </li>
                  
                
                    <li>
              <a href="http://www.privatrechtsgesellschaft.com/"title="" target="_blank" shape="rect">privatrechtsgesellschaft.com</a>
            </li>
              
              <li>
              <a href="http://www.lieberlibertarismus.org/"title="" target="_blank" shape="rect">Lieber Libertarismus</a>
            </li>
                                      


<li>
<a href="http://loliberty.org/"title="" target="_blank" shape="rect">Lifestyle of Liberty</a>
</li>

                    <li>
              <a href="http://libertopia.yooco.de/home.html"title="" target="_blank" shape="rect">Libertopia</a>
            </li>
           
  
<li>
<a href="http://lili-en.blogspot.de/"title="" target="_blank" shape="rect">Libertäre Liste Erlangen-Nürnberg</a>
</li>


             
                <li>
              <a href="http://self-ownership.net"title="" target="_blank" shape="rect">Self Ownership</a>
            </li>
                    
                   
                        <li>
              <a href="http://www.freiheitsfabrik.de/"title="" target="_blank" shape="rect">Freiheitsfabrik</a>
            </li>
              
                 
              
                    <li>
              <a href="https://logbuchderfreiheit.wordpress.com/"title="" target="_blank" shape="rect">Logbuch der Freiheit</a>
            </li>
           
              
                    <li>
              <a href="http://koelsche-libertarier.de/"title="" target="_blank" shape="rect">Koelsche Libertarier</a>
            </li>
           	
              
 <li>
              <a href="http://libertarian.blogsport.de/"title="" target="_blank" shape="rect">Libertaere Gedanken</a>
            </li>        
          
            
 <li>
              <a href="http://charleskrueger.de/"title="" target="_blank" shape="rect">Charles Krueger</a>
            </li>        
          

			  <li>
              <a href="http://marco-kanne.de/"title="" target="_blank" shape="rect">Marco Kanne</a>
            </li>        
          
        	
                        <li>
              <a href="http://dominikhennig.blogspot.de/"title="" target="_blank" shape="rect">Eine neue Freiheit</a>
            </li>
            
            	
                        <li>
              <a href="https://freiheitswelle.wordpress.com/"title="" target="_blank" shape="rect">freiheitswelle</a>
            </li>
            
				
                    <li>
              <a href="http://www.offene-grenzen.net/"title="" target="_blank" shape="rect">Offene Grenzen</a>
            </li>
            
                    <li>
              <a href="http://crederechannel.blogspot.de/"title="" target="_blank" shape="rect">Credere Channel</a>
            </li>
            
                 
                <li>
              <a href="http://derkaninchenbau.blogspot.de/"title="" target="_blank" shape="rect">Der Kaninchenbau</a>
            </li>
                       
                         <li>
              <a href="http://ee-einfacheresel.de/"title="" target="_blank" shape="rect">Einfacher Esel</a>
            </li>
                    
   <li>
              <a href="http://www.oliverjanich.de/"title="" target="_blank" shape="rect">Oliver Janich</a>
            </li>
                        
   <li>
              <a href="http://libertarianps.blog.de/"title="" target="_blank" shape="rect">PS`s Libertarian Blog</a>
            </li>
               
			   
                     <li>
              <a href="http://www.freitum.de/"title="" target="_blank" shape="rect">Freitum</a>
            </li>           
              
			   
			    <li>
              <a href="http://forum-ordnungspolitik.de/"title="" target="_blank" shape="rect">Forum-Ordnungspolitik</a>
            </li>           
              
				   
			    <li>
              <a href="http://konstantin-schwarz.blogspot.de/"title="" target="_blank" shape="rect">Konstantin Schwarz</a>
            </li>           
              	   
                    <li>
              <a href="http://www.der-freie-mann.com/"title="" target="_blank" shape="rect">Der freie Mann</a>
            </li>
            
           
                     <li>
              <a href="http://sfl-heidelberg.de/"title="" target="_blank" shape="rect">Students for Liberty</a>
            </li>           
                    
                           <li>
              <a href="http://www.misesde.org/"title="" target="_blank" shape="rect">Ludwig von Mises Institut (Deutschland)</a>
            </li>
          
                        <li>
              <a href="http://freiheitswerk.org/"title="" target="_blank" shape="rect">Freiheitswerk</a>
            </li>
              
       
                    
                <li>
              <a href="http://akifpirincci.blogspot.de/"title="" target="_blank" shape="rect">Akif Pirincci</a>
            </li>
          
    
              
           <li>
              <a href="http://gerhardbreunig.de/b2evolution/blog1.php"title="" target="_blank" shape="rect">Deutschland-Pranger</a>
            </li>
             
                        <li>
              <a href="http://modelhof.ch/"title="" target="_blank" shape="rect">Modelhof</a>
            </li>
            
                    <li>
              <a href="https://susannekablitz.wordpress.com/"title="" target="_blank" shape="rect">Susanne Kablitz</a>
            </li>
            
           
                        <li>
              <a href="http://libertaer.wordpress.com/"title="" target="_blank" shape="rect">Libertaere Plattform</a>
            </li>
                
                      
                 <li>
              <a href="http://weltwirtschaft.jimdo.com/globaler-interventionismus/"title="" target="_blank" shape="rect">Weltwirtschaft</a>
            </li>  
              
                 <li>
              <a href="http://biscuits.drupalgardens.com/"title="" target="_blank" shape="rect">biscuits</a>
            </li> 
			
			
                 <li>
              <a href="http://schuleverkloppt.weebly.com/neu-hier.html"title="" target="_blank" shape="rect">Schule verkloppt Lebenszeit</a>
            </li>  
            
                  
                           <li>
              <a href="http://www.hayek.de/"title="" target="_blank" shape="rect">Friedrich A. von Hayek-Gesellschaft</a>
            </li>
          
          
           <li>
              <a href="http://blog.wladimirkaminer.de"title="" target="_blank" shape="rect">Wladimir Kaminer</a>
            </li>
                         
              <li>
              <a href="http://handsonicblog.wordpress.com/"title="" target="_blank" shape="rect">handsonic</a>
            </li>
                 
           <li>
              <a href="http://pinksliberal.wordpress.com/"title="" target="_blank" shape="rect">Jenny`s Blog</a>
            </li>
                            
              <li>
              <a href="http://www.schottie.de/"title="" target="_blank" shape="rect">Schottie</a>
            </li>
                          
                      <li>
              <a href="http://jagdblut.de/"title="" target="_blank" shape="rect">Jagdblut</a>
            </li>  
                       
                      <li>
              <a href="http://www.youtube.com/user/SonsofLibertas"title="" target="_blank" shape="rect">Sons of Libertas</a>
            </li>
            
                          
           
                
  
            <br>
            
            <h4> blogs englisch: </h4>
               
            <li>
              <a href="http://freedomainradio.com/"title="" target="_blank" shape="rect">Freedomain Radio - by Stefan Molyneux</a>
            </li>
            
             <li>
              <a href="http://larkenrose.com/"title="" target="_blank" shape="rect">Larken Rose</a>
            </li>
           
                                          <li>
              <a href="http://www.lewrockwell.com/"title="" target="_blank" shape="rect">Lew Rockwell</a>
            </li>
            
                                          <li>
              <a href="http://www.hanshoppe.com/"title="" target="_blank" shape="rect">Hans Hermann Hoppe</a>
            </li>
            
			
           <li>
              <a href="http://www.stephankinsella.com/"title="" target="_blank" shape="rect"> Stephan Kinsella</a>
            </li>
            
			
           <li>
              <a href="http://www.jacobspinney.com/blog/"title="" target="_blank" shape="rect">Jacob Spinney</a>
            </li>
            
                        
                <li>
              <a href="http://www.strike-the-root.com/"title="" target="_blank" shape="rect">Strike The Root</a>
            </li>  
            
            
                <li>
              <a href="http://www.youtube.com/user/RjWeapon"title="" target="_blank" shape="rect">RjWeapon</a>
            </li>  
            
              <li>
              <a href="https://adamvstheman.com/"title="" target="_blank" shape="rect">Adam VS The Man</a>
            </li>
            
              <li>
              <a href="http://www.josietheoutlaw.com/"title="" target="_blank" shape="rect">Josie the Outlaw</a>
            </li>
			
            <li>
              <a href="http://attackthesystem.com/"title="" target="_blank" shape="rect">Attack the System</a>
            </li>
               
            <li>
              <a href="http://thedangeroustimes.com/"title="" target="_blank" shape="rect">the dangerous times</a>
            </li>          
      
                    <li>
              <a href="http://nielsio.tumblr.com/"title="" target="_blank" shape="rect">Nielsio</a>
            </li>  
            
               <li>
              <a href="http://www.rawilson.com/home.html"title="" target="_blank" shape="rect">Robert Anton Wilson</a>
            </li>
  
              <br><br>
                                    
                     
                              
      
                               
            <h4> Freilernen / Homeschooling: </h4>
            
               <li>
              <a href="http://www.leben-ohne-schule.de/"title="" target="_blank" shape="rect">Leben ohne Schule</a>
            </li>
                 
               <li>
              <a href="http://derblauebrief.net/about/"title="" target="_blank" shape="rect">Der blaue Brief</a>
            </li>
              
               <li>
              <a href="http://methodos-ev.org/"title="" target="_blank" shape="rect">Methodos</a>
            </li>
            
               <li>
              <a href="http://permation.de/"title="" target="_blank" shape="rect">Akademie fuer Permation</a>
            </li>
                        
                <li>
              <a href="http://www.alice-miller.com/"title="" target="_blank" shape="rect">Alice Miller</a>
            </li>
            
			
			
                            <li>
              <a href="http://oekologiedeslernens.jimdo.com/"title="" target="_blank" shape="rect">Oekologie des Lernens</a>
            </li>
            
                            <li>
              <a href="http://www.andrestern.com/"title="" target="_blank" shape="rect">Andre Stern</a>
            </li>
            
                <li>
              <a href="http://www.gerald-huether.de/"title="" target="_blank" shape="rect">Gerald Huether</a>
            </li>
            
            
               <br><br>
            
          

                        <h4> Übersetzungsprojekte: </h4>
            
                                          <li>
              <a href="http://www.lysanderspooner.org/"title="" target="_blank" shape="rect">Lysander Spooner</a>
            </li>
            
             <li>
              <a href="http://www.aynrandaufdeutsch.de/"title="" target="_blank" shape="rect">Ayn Rand </a>
            </li>
              
             <li>
              <a href="http://bastiat.de/index2.html"title="" target="_blank" shape="rect">Frederic Bastiat</a>
            </li>
              
             <li>
              <a href="http://soren-kierkegaard.virtusens.de/"title="" target="_blank" shape="rect">Soren Kierkegaard</a>
            </li>
                
            <li>
              <a href="http://c4ss.org/"title="" target="_blank" shape="rect">Center for a Stateless Society</a>
            </li>
          
            <br><br>


<br><br><br>
  <li style="list-style:none inside none;";> &nbsp;
 <a href="/" shape="rect">
<font color="#FF0000" face="Segoe Script" size="3"> ... zurückblättern</font></a></li>
