        <p>&nbsp;</p>         
          
          
                    
          	 <li>
              <a href="110proletarier.php" title="" target="_blank" shape="rect"><h2>Auksutat, Michael</h2></a>
            </li>
          
          
          	 <li>
              <a href="192.php" title="" target="_blank" shape="rect"><h2>Baader, Roland</h2></a>
            </li>
          
            		 <li>
              <a href="dersteuereinnehmer.htm" title="" target="_blank" shape="rect"><h2>Bastiat, Frederic</h2></a>
            </li>
            
            		 <li>
              <a href="162.php" title="" target="_blank" shape="rect"><h2>Bellaqua</h2></a>
            </li>
            
            		 <li>
              <a href="verantwortungslose.htm" title="" target="_blank" shape="rect"><h2>Ben</h2></a>
            </li>
            
                          
            		 <li>
              <a href="168.php" title="" target="_blank" shape="rect"><h2>Blankertz, Stefan</h2></a>
            </li>
                             
            		 <li>
              <a href="166.php" title="" target="_blank" shape="rect"><h2>Block, Walter</h2></a>
            </li>
                                
            		 <li>
              <a href="117.keinekompromisse.php" title="" target="_blank" shape="rect"><h2>Braun, Frank</h2></a>
            </li>
                                     
            		 <li>
              <a href="127.freiheit.php" title="" target="_blank" shape="rect"><h2>Breunig, Gerhard</h2></a>
            </li>
                                
            		 <li>
              <a href="169.php" title="" target="_blank" shape="rect"><h2>Brigant, Milan</h2></a>
            </li>
            
            		 <li>
              <a href="95.htm" title="" target="_blank" shape="rect"><h2>Bylund, Per</h2></a>
            </li>
            
		 <li>
              <a href="186.php" title="" target="_blank" shape="rect"><h2> Casagrande, Tommy</h2></a>
            </li>
            
               <li>
              <a href="82.htm" title="" target="_blank" shape="rect"><h2>DaniQ</h2></a>
            </li>
             
               <li>
              <a href="126.geschichtedespapiergeldes.php" title="" target="_blank" shape="rect"><h2>Danubio, Jonathan</h2></a>
            </li>
            
        <li>
              <a href="maerchen.htm" title="" target="_blank" shape="rect"><h2>DenkMal</h2></a>
            </li>
        
			 <li>
              <a href="173.php" title="" target="_blank" shape="rect"><h2> Duerr, David</h2></a>
            </li>
                             
            		 <li>
              <a href="102nichtwählererklärung.htm" title="" target="_blank" shape="rect"><h2>Eserver, Markus </h2></a>
            </li>
                               
            		 <li>
              <a href="167.php" title="" target="_blank" shape="rect"><h2>Fairwitch, Mary </h2></a>
            </li>
                     
            		 <li>
              <a href="116.inflation.php" title="" target="_blank" shape="rect"><h2>Finger, Martin </h2></a>
            </li>
                   
            		 <li>
              <a href="selbst.htm" title="" target="_blank" shape="rect"><h2>Fortune, Max </h2></a>
            </li>
                        
            		 <li>
              <a href="88.htm" title="" target="_blank" shape="rect"><h2>Froelich, Tomasz </h2></a>
            </li>
                    
			 <li>
              <a href="amit.php" title="" target="_blank" shape="rect"><h2>Goswami, Amit</h2></a>
            </li>
		         
			 <li>
              <a href="155.php" title="" target="_blank" shape="rect"><h2>Graeber, David</h2></a>
            </li>
		      
			 <li>
              <a href="121.luegenhabenkurzebeine.php" title="" target="_blank" shape="rect"><h2>handsonic</h2></a>
            </li>
		       
			 <li>
              <a href="194.php" title="" target="_blank" shape="rect"><h2>Hebbel, Andre</h2></a>
            </li>
		      
			 <li>
              <a href="174.php" title="" target="_blank" shape="rect"><h2>heikophilo</h2></a>
            </li>
		     
            		 <li>
              <a href="herzen.htm" title="" target="_blank" shape="rect"><h2>Heuler, Oliver </h2></a>
            </li>
              
            		 <li>
              <a href="159.php" title="" target="_blank" shape="rect"><h2>Hoppe, Hans Hermann</h2></a>
            </li>
                        
            		 <li>
              <a href="begeisterung.htm" title="" target="_blank" shape="rect"><h2>Huether, Gerald</h2></a>
            </li>
                 
            		 <li>
              <a href="181.php" title="" target="_blank" shape="rect"><h2>Janich, Oliver</h2></a>
            </li>
            
                  
            		 <li>
              <a href="politischkorrekt.htm" title="" target="_blank" shape="rect"><h2>Jenny</h2></a>
            </li>
            
            		 <li>
              <a href="190.php" title="" target="_blank" shape="rect"><h2>Jenny. Matthias</h2></a>
            </li>
            
            		 <li>
              <a href="geruch.htm" title="" target="_blank" shape="rect"><h2>Kablitz, Susanne</h2></a>
            </li>
               
            		 <li>
              <a href="132.sexstattbomben.php" title="" target="_blank" shape="rect"><h2>Kaminer, Wladimir</h2></a>
            </li>
            
            		 <li>
              <a href="145.php" title="" target="_blank" shape="rect"><h2>Kanne, Marco</h2></a>
            </li>
            
                        		 <li>
              <a href="globalefreiheit.html" title="" target="_blank" shape="rect"><h2>Karl Heinz</h2></a>
            </li>
            
		 <li>
              <a href="193.php" title="" target="_blank" shape="rect"><h2>Kibaybay</h2></a>
            </li>		
	         
            		 <li>
              <a href="existieren.htm" title="" target="_blank" shape="rect"><h2>Kierkegaard, Soeren</h2></a>
            </li>
               
            		 <li>
              <a href="185.php" title="" target="_blank" shape="rect"><h2>Kowalsky, Kurt</h2></a>
            </li>
            
              
            		 <li>
              <a href="141.php" title="" target="_blank" shape="rect"><h2>Krauss, Axel BC</h2></a>
            </li>
            
            		 <li>
              <a href="175.php" title="" target="_blank" shape="rect"><h2>Libertus, David</h2></a>
            </li>
            
			
            		 <li>
              <a href="189.php" title="" target="_blank" shape="rect"><h2>Liberty, Jakob</h2></a>
            </li>
            
			
            		 <li>
              <a href="183.php" title="" target="_blank" shape="rect"><h2>Lennartz, Norbert</h2></a>
            </li>
            
			
            		 <li>
              <a href="93.htm" title="" target="_blank" shape="rect"><h2>Looser, Lucien</h2></a>
            </li>
            
            
            		 <li>
              <a href="diktatur.htm" title="" target="_blank" shape="rect"><h2>Marshall, Andrew Gavin</h2></a>
            </li>
            
            		 <li>
              <a href="163.php" title="" target="_blank" shape="rect"><h2>Messmer, Hermann</h2></a>
            </li>
            
              		 <li>
              <a href="87.htm" title="" target="_blank" shape="rect"><h2>Miller, Alice </h2></a>
            </li>
            
              		 <li>
              <a href="72.htm" title="" target="_blank" shape="rect"><h2>Milz, Hubert </h2></a>
            </li>
            
                
              		 <li>
              <a href="81.htm" title="" target="_blank" shape="rect"><h2>Mises, Ludwig von </h2></a>
            </li>
            
            		 <li>
              <a href="meinkind.htm" title="" target="_blank" shape="rect"><h2>Molyneux, Stefan </h2></a>
            </li>
            
            		 <li>
              <a href="wastun.htm" title="" target="_blank" shape="rect"><h2>Mueller, Peter</h2></a>
            </li>
                          
            		 <li>
              <a href="108chaostheorie.htm" title="" target="_blank" shape="rect"><h2>Murphy, Robert P.</h2></a>
            </li>
              
		 <li>
              <a href="bitcoins.htm" title="" target="_blank" shape="rect"><h2>Nakamoto, Satoshi</h2></a>
            </li>
            
            		 <li>
              <a href="schluss.htm" title="" target="_blank" shape="rect"><h2>Nico</h2></a>
            </li>
            		 <li>
              <a href="118.vonderillusionzurfreiheit.php" title="" target="_blank" shape="rect"><h2>Osho</h2></a>
            </li>
            
             <li>
              <a href="76.htm" title="" target="_blank" shape="rect"><h2>Pfeifer, Maximilian</h2></a>
            </li>            
            
            		 <li>
              <a href="konsequenz.htm" title="" target="_blank" shape="rect"><h2>Phil</h2></a>
            </li>
                        		 <li>
              <a href="warum.htm" title="" target="_blank" shape="rect"><h2>Pictor, Lux Lumen</h2></a>
            </li>
            
                           
            		 <li>
              <a href="172.php" title="" target="_blank" shape="rect"><h2>Pirincci, Akif</h2></a>
            </li>
		          
            		 <li>
              <a href="99.htm" title="" target="_blank" shape="rect"><h2>Preusse, Peter J.</h2></a>
            </li>
		            
            
            		 <li>
              <a href="proudhon.htm" title="" target="_blank" shape="rect"><h2>Proudhon, Pierre Joseph</h2></a>
            </li>
		
		 <li>
              <a href="aynrand.php" title="" target="_blank" shape="rect"><h2>Rand, Ayn</h2></a>
            </li>
            
		 <li>
              <a href="140.php" title="" target="_blank" shape="rect"><h2>Rick</h2></a>
            </li>
            
		 <li>
              <a href="180.php" title="" target="_blank" shape="rect"><h2>Rider650</h2></a>
            </li>
            
		
		
            		 <li>
              <a href="166.php" title="" target="_blank" shape="rect"><h2>Rockwell, Lew</h2></a>
            </li>
            
            		 <li>
              <a href="winzigepunkt.htm" title="" target="_blank" shape="rect"><h2>Rose, Larken</h2></a>
            </li>
            
            		
            		 <li>
              <a href="89.htm" title="" target="_blank" shape="rect"><h2>Rothbard, Murray</h2></a>
            </li>
            
             
		 <li>
              <a href="kiffen.htm" title="" target="_blank" shape="rect"><h2>Sandman</h2></a>
            </li>
               
			     
		                   		 <li>
              <a href="135.rotstiftnichtbeihartzernansetzen.php" title="" target="_blank" shape="rect"><h2>Schmierer, Julian</h2></a>
            </li>
            
            		 <li>
              <a href="37thesen.htm" title="" target="_blank" shape="rect"><h2>Schottlaender, Rainer</h2></a>
            </li>
               
		 <li>
              <a href="92.htm" title="" target="_blank" shape="rect"><h2>Sendal, Saluk</h2></a>
            </li>
             
	 <li>
              <a href="begriffe.htm" title="" target="_blank" shape="rect"><h2>Shea, Robert </h2></a>
            </li>
                 
	 <li>
              <a href="184.php" title="" target="_blank" shape="rect"><h2>Sieba </h2></a>
            </li>
            
       		 <li>
              <a href="befreiungderschule.htm" title="" target="_blank" shape="rect"><h2>Siegmund, Michael</h2></a>
            </li>
             
       		 <li>
              <a href="jacob.php" title="" target="_blank" shape="rect"><h2>Spinney, Jacob</h2></a>
            </li>
             
       		 <li>
              <a href="144.php" title="" target="_blank" shape="rect"><h2>Spooner, Lysander</h2></a>
            </li>
            					            
            		 <li>
              <a href="155.php" title="" target="_blank" shape="rect"><h2>Stern, Andre</h2></a>
            </li>
            	 		            
            		 <li>
              <a href="149.php" title="" target="_blank" shape="rect"><h2>Stowasser, Horst</h2></a>
            </li>
            	            
            		 <li>
              <a href="tmcdbc.htm" title="" target="_blank" shape="rect"><h2>Taylor, Robert</h2></a>
            </li>
            
              	 <li>
              <a href="191.php" title="" target="_blank" shape="rect"><h2>Thompson, Sarah</h2></a>
            </li>
            
                  
            		 <li>
              <a href="130.europa.php" title="" target="_blank" shape="rect"><h2>Tucholsky, Kurt</h2></a>
            </li>
            
            		 <li>
              <a href="119.kellerunterdemmindestlohn.php" title="" target="_blank" shape="rect"><h2>Tucker, Jeffrey</h2></a>
            </li>
            
		 
            		 <li>
              <a href="kühe.htm" title="" target="_blank" shape="rect"><h2>unbekannt</h2></a>
            </li>
            
            		 <li>
              <a href="schulensindgefaengnisse.htm" title="" target="_blank" shape="rect"><h2>Weapon, R.J.</h2></a>
            </li>
            
		 
		 		 
				 <li>
              <a href="182.php" title="" target="_blank" shape="rect"><h2>White, Meikel </h2></a>
            </li>

			
				 <li>
              <a href="176.php" title="" target="_blank" shape="rect"><h2>Widenhorn, Christoph </h2></a>
            </

				 <li>
              <a href="begriffe.htm" title="" target="_blank" shape="rect"><h2>Wilson, Robert Anton </h2></a>
            </li>

				 <li>
              <a href="164.php" title="" target="_blank" shape="rect"><h2>Zufall, Reiner </h2></a>
            </li>





            
		
 
 
 
		<br><br><br>
  		<li style="list-style:none inside none;";> &nbsp;
 		<a href="index.php" shape="rect">
		<font color="#FF0000" face="Segoe Script" size="3"> ... zurückblättern</font></a></li>