<br>
																								
	<p style="font-size: 18px;" align="center">Werden sie unser Partner und unterstützen sie globale Freiheit - von wo, mit was und wie auch immer ...</p>
		
		
		<p>&nbsp;</p>	<p>&nbsp;</p>
		
					<ul>
	<div style="float:left;">
		<a href="http://www.diflow.de/html/"target="_blank"  shape="rect"><img src="images/slider/diflow.jpg" /></a> 
	&nbsp;	&nbsp;&nbsp;	</div>	
	</ul>
	
			<p>&nbsp;</p>		<p>&nbsp;</p> <p>&nbsp;</p>	
	<p>&nbsp;</p> <p>&nbsp;</p>
<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p> <p>&nbsp;</p>


		<ul>
	<div style="float:center;">
	<a href="http://www.freiwilligfrei.info/" target="_blank" shape="rect"><img src="images/slider/fwf.gif" /></a> 
	&nbsp;	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="http://www.schottie.de/"target="_blank"  shape="rect"><img src="images/slider/schottie.jpg" /></a> 
		</div>	
	</ul>
	
	
<p>&nbsp;</p>
<p>&nbsp;</p> <p>&nbsp;</p>

				<ul>
	<div style="float:right;">
	<a href="index.php" target="_blank" shape="rect"><img src="images/slider/gf.jpg" /></a> 
		</div>	
	</ul>
		
		
		
		
	
	



		<ul>
	<div style="float:left;">
	<a href="http://www.mbd-bauservice.de/" target="_blank" shape="rect"><img src="images/slider/mbd.jpg" /></a> 
		</div>	
	</ul>
		
<p>&nbsp;</p><p>&nbsp;</p>
			<p>&nbsp;</p>
<p>&nbsp;</p> <p>&nbsp;</p>
<p>&nbsp;</p><p>&nbsp;</p>
<p>&nbsp;</p><p>&nbsp;</p>

		
	





			
			
			
			
		<!------------------------------------------------------------------------------------------------------------------------------------------------------------>	
			
		<p>&nbsp;</p>
              <ul style="list-style:none inside none; text-transform:uppercase;margin:0;padding:0;">
                <li style="width:250px; float:left; margin-right:90px ;">
                  <p align="left" style="text-align: left">
					<span style="text-transform: none"><a href="/" shape="rect">
					<font size=3 font face="Segoe Script"font color="#FF0000">... zurückblättern</font></a></span></p>
                </li>
              
              
              </ul>





</div> 
