<br>

<div id="spaltencontainer">
<div class="spalte">
<h4>CRASHTALK:</h4>

<h2>
  <a class="article" href="https://www.youtube.com/watch?v=dhAcv1dn2V4" title="" target="_blank" shape="rect">
  CRASHTALK #1  AnCaps vs AnKoms</a>
</h2>

<br>
<h2>
  <a class="article" href="https://www.youtube.com/watch?v=dPfHGPP6Cqs" title="" target="_blank" shape="rect">
  CRASHTALK #2  AnCap vs Marxist</a>
</h2>
<br>

<h2>
  <a class="article" href="https://www.youtube.com/watch?v=KsNjb2mnwVI" title="" target="_blank" shape="rect">
  CRASHTALK #3  AnCaps vs AnCaps - <font color="#FF0000"> <br> mit Norbert Lennartz und Stefan Blankertz</font></a>
</h2>
<br>

 </div>
<div class="spalte">
<h4>FRESHTALK:</h4>

<h2>
  <a class="article" href="http://www.youtube.com/watch?v=GeY-E0eqSZ0&feature=youtu.be" title="" target="_blank" shape="rect">
  FRESHTALK #1 mit Peter und Michael von FreiwilligFrei  <br> mit Norbert Lennartz und Stefan Blankertz</font></a>
</h2>

 </div>
</div>
