<br>


<h4>Unsere Podcasts:</h4>


			
			<tr>
				<td><p style="font-size: 18px;"> CRASHTALK #1 <br>
				AnCaps vs AnKoms </p>

<p> mit Finn, Tim, Milan und Karl </p>

<p> <li> <a href="https://www.youtube.com/watch?v=dhAcv1dn2V4"title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/avsa.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		
		
			


<br style="clear:both;">
<p>&nbsp;<br><br> </p>
<p style="text-align: center">***</p>
<br>


 <h4>
      <a target="_blank" href="https://www.youtube.com/channel/UC1HrjWl2HtevzaA2XltLUow" 
      class="youtubeverweise">Unser Youtube Channel: GLOBALE FREIHEIT</a>
 </h4>


<p>&nbsp;<br><br> </p>
<li style="list-style:none inside none;";> &nbsp;
<a href="<%= url('/')%>">
<font color="#FF0000" face="Segoe Script" size="3"> ... zurückblättern</font></a></li>
</div>
