<br>

<div id="spaltencontainer">
<div class="spalte">
<h4>FRESHTALK:</h4>



<h2>
  <a class="article" href="http://www.youtube.com/watch?v=GeY-E0eqSZ0&feature=youtu.be" title="" target="_blank" shape="rect">
  FRESHTALK #1 <br> mit FreiwilligFrei <br> Thema: Gewalt gegen Kinder   </a>
</h2>
<br>

<h2>
  <a class="article" href="https://www.youtube.com/watch?v=YUMf0y6vWEg&list=UUSLnD8xd-81Lc96OE9kBkOQ" 
  title="" target="_blank" shape="rect">
  FRESHTALK #2 <br> mit Charly Krueger <br> Thema: Etatisten  </a>
</h2>
<br>

<h2>
  <a class="article" href="https://www.youtube.com/watch?v=pw8mNudjpIE&feature=youtu.be" 
  title="" target="_blank" shape="rect">
  FRESHTALK #3 <br> mit Oliver Janich <br> Thema: Fussball  </a>
</h2>
<br>

 </div>
<div class="spalte">
<h4>CRASHTALK:</h4>

<h2>
  <a class="article" href="https://www.youtube.com/watch?v=dhAcv1dn2V4" title="" target="_blank" shape="rect">
  CRASHTALK #1 <br> AnCaps vs AnKoms</a>
</h2>

<br>
<h2>
  <a class="article" href="https://www.youtube.com/watch?v=dPfHGPP6Cqs" title="" target="_blank" shape="rect">
  CRASHTALK #2 <br> AnCap vs Marxist</a>
</h2>
<br>

<h2>
  <a class="article" href="https://www.youtube.com/watch?v=KsNjb2mnwVI" title="" target="_blank" shape="rect">
  CRASHTALK #3 <br> AnCaps vs AnCaps - <font color="#FF0000"> <br> mit Norbert Lennartz <br> und Stefan Blankertz </font></a>
</h2>
<br>

<h2>
  <a class="article" href="https://www.youtube.com/watch?v=CmFq-AXDndw" title="" target="_blank" shape="rect">
  CRASHTALK #4 <br> AnCaps vs die PdV - <font color="#FF0000"> <br> mit Maria Zanke <br> und Sven Teichmann <br> 
  Was wird aus der PdV? </font></a>
</h2>
<br>


 </div>
</div>

<br style="clear:both;">
<p>&nbsp;<br><br> </p>
<p style="text-align: center">***</p>
<br>


<h2>
  <a class="article" href="http://www.youtube.com/watch?v=GeY-E0eqSZ0&feature=youtu.be" title="" target="_blank" shape="rect">
  FRESHTALK #1 <br> mit FreiwilligFrei <br> Thema: Gewalt gegen Kinder   </a>
</h2>


<p>&nbsp;<br><br> </p>
<li style="list-style:none inside none;";> &nbsp;
<a href="<%= url('/')%>">
<font color="#FF0000" face="Segoe Script" size="3"> ... zurückblättern</font></a></li>
</div>
