<h2>Rubriken</h2>

<span id="output">
<% @rubriken.each do |rubrik|%>
  <div id=<%=rubrik.Rubrikname %>>
     <li>
        <a href="/rubriken/<%=rubrik.RubrikId%>" shape="rect"><%=rubrik.Rubrikname %></a>
     </li>
  </div>	
<% end %>
</span>

