<h2>Rubriken:</h2>

<span id="output">
<% @rubriken.each do |rubrik|%>
  <div id=<%=rubrik.name %>>
     <li>
        <a href="/rubriken/<%=rubrik.id%>" shape="rect"><%=rubrik.name %></a>
     </li>
  </div>	
<% end %>
</span>
<br><br><br>
<a href="/" shape="rect">
<font color="#FF0000" face="Segoe Script" size="3"> ... zurückblättern</font></a></li>
