<div id="slider1">  
<ul id="slider1Content">
      <img src="<%= url("slider/"+@image) %>" />  
      <span class="bottom" style="display: inline;">
</ul>  
<div id="sliderLeftMask"></div>  
<div id="sliderRightMask"></div> 