<div id="slider1">  
<ul id="slider1Content">
  <li class="slider1Image"> 
      <img src="<%= url("slider/"+@image) %>" />  
      <span class="bottom" style="display: inline;">
    </a> 
  </li>
<li class="slider1Image" style="clear:both"></li>
</ul>  
<div id="sliderLeftMask"></div>  
<div id="sliderRightMask"></div> 