
<div id="slider1">  
<ul id="slider1Content">
<% @article.each do |article|%>
  <li class="slider1Image"> 
    <a href="<%= url("article/"+article.id.to_s) %>" title="" target="_blank" shape="rect"> 
      <img src="<%= url("slider/"+article.image) %>" />  
      <span class="bottom" style="display: inline;">
      </span> 
    </a> 
  </li>
<% end %>
<li class="slider1Image" style="clear:both"></li>
</ul>  
<div id="sliderLeftMask"></div>  
<div id="sliderRightMask"></div> 
