<br>	

<p style="text-align: center">***</p>

<p>&nbsp;</p>

<p style="text-align: center"> <font size="5"><font face="Impact">GLOBALEFREIHEIT.de</font> präsentiert: </font></p>


	<p>&nbsp;</p>
	
	
		<p style="text-align: center">

<iframe src="http://files.tubesnack.com/iframe/embed.html?hash=ttiqoll9&wmode=window&bgcolor=FFFFFF&t=1385359122" width="640" height="700" seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true"></iframe>

		</p>

	<p>&nbsp;</p>
	
<p style="text-align: center">***</p>

	<p>&nbsp;</p>
	
	   	<div id="video" style="text-align: center"> 	 
		   	
		   	<br>
		   	<p><b>Übersicht über alle bislang auf globalefreiheit.de verbreiteten Videos, und sogar noch ein paar mehr ...</b> </p>
		   	
		   	<br>
		   		 
		   
			
			

				<p>			
								 <li style="width:250px; float:center; margin-right:90px ;">
                  <p align="left">
					<span style="text-transform: none"><a href="fwf.php" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					FREIWILLIGFREI</font></a></span></p>
                </li>
                
			   <li style="width:250px; float:left; margin-right:90px ;">
                  <p align="left">
					<span style="text-transform: none"><a href="stef.php" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Stefan Molyneux</font></a></span></p>
                </li>

				 <li style="width:250px; float:left; margin-right:90px ;">
                  <p align="left">
					<span style="text-transform: none"><a href="larken.php" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Larken Rose</font></a></span></p>
                </li>
                     
				 <li style="width:250px; float:left; margin-right:90px ;">
                  <p align="left">
					<span style="text-transform: none"><a href="oliverheuler.php" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Oliver Heuler</font></a></span></p>
                </li>
				  
                  								 <li style="width:250px; float:left; margin-right:90px ;">
                  <p align="left">
					<span style="text-transform: none"><a href="heiko.php" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					heikophilo</font></a></span></p>
                </li>
		       
				<li style="width:250px; float:left; margin-right:90px ;">
                  <p align="left">
					<span style="text-transform: none"><a href="jacob.htm" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Jacob Spinney</font></a></span></p>
                </li>
                
                	   	<li style="width:250px; float:left; margin-right:90px ;">
                  <p align="left">
					<span style="text-transform: none"><a href="rjweapon.php" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					R.J. Weapon</font></a></span></p>
                </li>
             
                 
                  								 <li style="width:250px; float:left; margin-right:90px ;">
                  <p align="left">
					<span style="text-transform: none"><a href="freiheitsfunke.php" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Freiheitsfunke</font></a></span></p>
                </li>
		         	  
			 <li style="width:250px; float:left; margin-right:90px ;">
                  <p align="left">
					<span style="text-transform: none"><a href="martinfinger.php" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Martin Finger</font></a></span></p>
                </li>
			  	
            	   
			   
                  								 <li style="width:250px; float:left; margin-right:90px ;">
                  <p align="left">
					<span style="text-transform: none"><a href="hoppe.php" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Hans Herrmann Hoppe</font></a></span></p>
                </li>
		       
			   	  
												 <li style="width:250px; float:left; margin-right:90px ;">
                  <p align="left">
					<span style="text-transform: none"><a href="rolandbaader.php" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Roland Baader</font></a></span></p>
                </li>
        		
			    	  	
             					 <li style="width:250px; float:left; margin-right:90px ;">
                  <p align="left">
					<span style="text-transform: none"><a href="oliverjanich.php" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Oliver Janich</font></a></span></p>
                </li>
            
			     	
                	
             					 <li style="width:250px; float:left; margin-right:90px ;">
                  <p align="left">
					<span style="text-transform: none"><a href="aynrand.php" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Ayn Rand</font></a></span></p>
                </li>
                	
           			
           			
                					 <li style="width:250px; float:left; margin-right:90px ;">
                  <p align="left">
					<span style="text-transform: none"><a href="praxigirl.php" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Praxigirl</font></a></span></p>
                </li>
                     
			        
			 <li style="width:250px; float:left; margin-right:90px ;">
                  <p align="left">
					<span style="text-transform: none"><a href="afp.php" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Akademie f. Permation</font></a></span></p>
                </li>
              
		 
                   
           								 <li style="width:250px; float:left; margin-right:90px ;">
                  <p align="left">
					<span style="text-transform: none"><a href="alice.php" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Alice Miller</font></a></span></p>
                </li>
          		
          
              
			 <li style="width:250px; float:left; margin-right:90px ;">
                  <p align="left">
					<span style="text-transform: none"><a href="geraldhüther.php" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Gerald Hüther</font></a></span></p>
                </li>
			
 	
											 <li style="width:250px; float:left; margin-right:90px ;">
                  <p align="left">
					<span style="text-transform: none"><a href="amit.php" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Amit Goswami</font></a></span></p>
                </li>				
				
               
            
                
 <li style="width:250px; float:left; margin-right:90px ;">
                  <p align="left">
					<span style="text-transform: none"><a href="soeren.php" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Sören Kierkegaard</font></a></span></p>
                </li>
                
              <li style="width:250px; float:left; margin-right:90px ;">
                  <p align="left">
					<span style="text-transform: none"><a href="max.php" shape="rect"><font size=4 font face="Segoe Script"font color="#000066">
					Max Stirner</font></a></span></p>
                </li>
                
	
              
              <li style="width:250px; float:left; margin-right:90px ;">
                  <p align="left">
					<span style="text-transform: none"><a href="osho.php" shape="rect"><font size=4 font face="Segoe Script"font color="#000066">
					Osho</font></a></span></p>
                </li>
                

              <li style="width:250px; float:left; margin-right:90px ;">
                  <p align="left">
					<span style="text-transform: none"><a href="verschiedene.php" shape="rect"><font size=4 font face="Segoe Script"font color="#000066">
					VERSCHIEDENE</font></a></span></p>
                	<p style="text-align: left">
                </li>
                
                   </p>
                  	</div>
                  	
                  	
                  	
   <p>&nbsp;</p>  
   
   

       
       
     
   <p>&nbsp;</p> 

	<p>&nbsp;<br><br> </p>
			
            <li style="list-style:none inside none;";> &nbsp;
 <a href="<%= url('/')%>" shape="rect">
<font color="#FF0000" face="Segoe Script" size="3"> ... zurückblättern</font></a></li>
      
              </ul>
</div>
