<br>	

<p style="text-align: center">***</p>

<p>&nbsp;</p>

<p style="text-align: center"> <font size="5"><font face="Impact">GLOBALEFREIHEIT.de</font> präsentiert: </font></p>


	<p>&nbsp;</p>
	
	
		<p style="text-align: center">

<iframe src="http://files.tubesnack.com/iframe/embed.html?hash=ttiqoll9&wmode=window&bgcolor=FFFFFF&t=1407067672" width="854" height="830" seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true"></iframe>


		</p>

	<p>&nbsp;</p>
	
<p style="text-align: center">***</p>

	<p>&nbsp;</p>
	
	   		 
		   	<div id="video" style="text-align: center"> 


		   	<br>
		   	<p style="text-align: center">
		   	
		   	<b>Übersicht über fast alle bislang auf globalefreiheit.de verbreiteten Videos, und sogar noch ein paar mehr ...</b> </p>
		   	
		   	<br>
		<p style="text-align: center">	   
		
<iframe src="http://files.tubesnack.com/iframe/embed.html?hash=tdunfvvw&wmode=window&bgcolor=FFFFFF&t=1407067820" width="854" height="880" seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true"></iframe>

	
</p>	
			
	<p>&nbsp;</p>

	<p style="text-align: center">***</p>

<br>

<p id="you_tube-deutsch">
	Youtube-Kanäle</p>

<br>
			
				
				
				
				
								 <li class="verweiseyoutube">
                  <p align="left">
					<span style="text-transform: none"><a target="_blank" href="https://www.youtube.com/user/FreiwilligFrei" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					FREIWILLIGFREI</font></a></span></p>
                </li>
                
				 <li class="verweiseyoutube">
                  <p align="left">
					<span style="text-transform: none"><a target="_blank" href="https://www.youtube.com/user/manuelmeint" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Manuel meint</font></a></span></p>
                </li>
                
				  <li class="verweiseyoutube">
                  <p align="left">
					<span style="text-transform: none"><a target="_blank" href="https://www.youtube.com/user/heikophilo" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Heiko Cochius</font></a></span></p>
                </li>
		       
	
                     
				 <li class="verweiseyoutube">
                  <p align="left">
					<span style="text-transform: none"><a target="_blank" href="https://www.youtube.com/user/oheuler" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Oliver Heuler</font></a></span></p>
                </li>
		
             
			 <li class="verweiseyoutube">
                  <p align="left">
					<span style="text-transform: none"><a target="_blank" href="https://www.youtube.com/user/CredereChannel" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Martin Finger</font></a></span></p>
                </li>
		
					  
			   	   	
             					 <li class="verweiseyoutube">
                  <p align="left">
					<span style="text-transform: none"><a target="_blank" href="https://www.youtube.com/user/OliverJanich" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Oliver Janich</font></a></span></p>
                </li>
            	  	     
				
               		        
				 <li class="verweiseyoutube">
                  <p align="left">
					<span style="text-transform: none"><a target="_blank" href="https://www.youtube.com/user/Wertewirtschaft" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Institut für Wertewirtschaft</font></a></span></p>
                </li>

			 <li class="verweiseyoutube">
                  <p align="left">
					<span style="text-transform: none"><a target="_blank" href="https://www.youtube.com/channel/UCtzidL8XjgGmIlMEyGG52XA" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Roberto Solano</font></a></span></p>
                </li>
		
             	 <li class="verweiseyoutube">
                  <p align="left">
					<span style="text-transform: none"><a target="_blank" href="https://www.youtube.com/channel/UCfQJbKi49Xt9SzppAZgAPVg" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Goldener Broiler</font></a></span></p>
                </li>
		
		
		
			    
                  								 <li class="verweiseyoutube">
                  <p align="left">
					<span style="text-transform: none"><a target="_blank" href="https://www.youtube.com/user/Freiheitsfunke" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Freiheitsfunke</font></a></span></p>
                </li>
		      
			   	 
			 <li class="verweiseyoutube">
                  <p align="left">
					<span style="text-transform: none"><a target="_blank" href="https://www.youtube.com/channel/UCxctM4ryyQl2_lqOfyYkgYg" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Stimme der Vernunft</font></a></span></p>
                </li>
			  	
			   
            	   
		
		
		
                  								 <li class="verweiseyoutube">
                  <p align="left">
					<span style="text-transform: none"><a target="_blank" href="https://www.youtube.com/user/misesde" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Misesde</font></a></span></p>
                </li>
		       
				
            	  
          		
            
			 <li class="verweiseyoutube">
                  <p align="left">
					<span style="text-transform: none"><a target="_blank" href="https://www.youtube.com/channel/UCz0k8rJctAmuweFc86_xj-g" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Michael Siegmund</font></a></span></p>
                </li>
              
              </p>
              
       

               		   <li class="verweiseyoutube">
                  <p align="left">
					<span style="text-transform: none"><a target="_blank" href="https://www.youtube.com/user/stefbot" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Stefan Molyneux</font></a></span></p>
                </li>

				 <li class="verweiseyoutube">
                  <p align="left">
					<span style="text-transform: none"><a target="_blank" href="https://www.youtube.com/user/LarkenRose" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Larken Rose</font></a></span></p>
                </li> 
                
                		 <li class="verweiseyoutube">
                  <p align="left">
					<span style="text-transform: none"><a target="_blank" href="https://www.youtube.com/channel/UCFJNcE0iHj7P6dhp5iCZRLg" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					LearnLiberty</font></a></span></p>
                </li> 
                
                		 <li class="verweiseyoutube">
                  <p align="left">
					<span style="text-transform: none"><a target="_blank" href="https://www.youtube.com/user/LibertyInOurTime" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					LibertyinOurTime</font></a></span></p>
                </li> 
                
                                 <li class="verweiseyoutube">
                  <p align="left">
<span style="text-transform: none"><a target="_blank" href="https://www.youtube.com/user/StatelessLiberty" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
StatelessLiberty</font></a></span></p>
                </li>
                
                
                
                
                
                		 <li class="verweiseyoutube">
                  <p align="left">
					<span style="text-transform: none"><a target="_blank" href="https://www.youtube.com/user/praxgirl" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Praxgirl</font></a></span></p>
                </li> 
                
                
                
                
                		 <li class="verweiseyoutube">
                  <p align="left">
					<span style="text-transform: none"><a target="_blank" href="https://www.youtube.com/user/AdamKokesh" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Adam Kokesh</font></a></span></p>
                </li> 
                
                
                
                		 <li class="verweiseyoutube">
                  <p align="left">
					<span style="text-transform: none"><a target="_blank" href="https://www.youtube.com/user/JosieTheOutlaw1" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Josie Outlaw</font></a></span></p>
                </li> 
                
                
                		 <li class="verweiseyoutube">
                  <p align="left">
					<span style="text-transform: none"><a target="_blank" href="https://www.youtube.com/user/LewRockwellShow" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Lew Rockwell</font></a></span></p>
                </li> 
                
                
                		 <li class="verweiseyoutube">
                  <p align="left">
					<span style="text-transform: none"><a target="_blank" href="https://www.youtube.com/user/nskinsella" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Stephan Kinsella</font></a></span></p>
                </li> 
                
                
                		 <li class="verweiseyoutube">
                  <p align="left">
					<span style="text-transform: none"><a target="_blank" href="https://www.youtube.com/user/JacobSpinney" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Jacob Spinney</font></a></span></p>
                </li> 
                
                
                		 <li class="verweiseyoutube">
                  <p align="left">
					<span style="text-transform: none"><a target="_blank" href="https://www.youtube.com/channel/UCkODWqZsplBJiZYeqTswkEA" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					RJ Weapon</font></a></span></p>
                </li> 
                
                
                
                		 <li class="verweiseyoutube">
                  <p align="left">
					<span style="text-transform: none"><a target="_blank" href="https://www.youtube.com/user/jatucker321" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Jeffrey Tucker</font></a></span></p>
                </li> 
                
                
                
                		 <li class="verweiseyoutube">
                  <p align="left">
					<span style="text-transform: none"><a target="_blank" href="https://www.youtube.com/watch?v=YX14hDJTI4s" shape="rect"><font size=3 font face="Segoe Script"font color="#000066">
					Robert Murphy</font></a></span></p>
                </li> 
                
                
                   </p>
                  	</div>
                  	
                  	
                  	
   <p>&nbsp;</p>  
   
   <p style="text-align: center">***</p>

	<p>&nbsp;</p>

       
       
     
   <p>&nbsp;</p> 

	<p>&nbsp;<br><br> </p>
			
            <li style="list-style:none inside none;";> &nbsp;
 <a href="<%= url('/')%>" shape="rect">
<font color="#FF0000" face="Segoe Script" size="3"> ... zurückblättern</font></a></li>
      
              </ul>
</div>
