<br>	

<p style="text-align: center">***</p>

<p>&nbsp;</p>

<p style="text-align: center"> <font size="5"><font face="Impact">GLOBALEFREIHEIT.de</font> präsentiert: </font></p>


	<p>&nbsp;</p>
	
	
		<p style="text-align: center">

<iframe src="http://files.tubesnack.com/iframe/embed.html?hash=ttiqoll9&wmode=window&bgcolor=FFFFFF&t=1407067672" width="854" height="830" seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true"></iframe>


		</p>

	<p>&nbsp;</p>
	
<p style="text-align: center">***</p>

	<p>&nbsp;</p>
	
	   		 
		   	<div id="video" style="text-align: center"> 


		   	<br>
		   	<p style="text-align: center">
		   	
		   	<b>Übersicht über fast alle bislang auf globalefreiheit.de verbreiteten Videos, und sogar noch ein paar mehr ...</b> </p>
		   	
		   	<br>
		<p style="text-align: center">	   
		
<iframe src="http://files.tubesnack.com/iframe/embed.html?hash=tdunfvvw&wmode=window&bgcolor=FFFFFF&t=1407067820" width="854" height="880" seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true"></iframe>

	
</p>	
			
	<p>&nbsp;</p>

	<p style="text-align: center">***</p>

<br>

<div id="spaltencontainer">


  <div class="spalte">

    <h4>Youtube-Kan&auml;le (deutsch):</h4>
    
      <li>
      <a target="_blank" href="https://www.youtube.com/user/FreiwilligFrei" class="youtubeverweise">FREIWILLIGFREI</a>
      </li>
    
      <li>
      <a target="_blank" href="https://www.youtube.com/user/manuelmeint" class="youtubeverweise">Manuel Meint</a>
      </li>
    
      <li>
      <a target="_blank" href="https://www.youtube.com/user/heikophilo" class="youtubeverweise">Heiko Cochius</a>
      </li>
    
      <li>
      <a target="_blank" href="https://www.youtube.com/user/oheuler" class="youtubeverweise">Oliver Heuler</a>
      </li>
   
      <li>

      <a target="_blank" href="https://www.youtube.com/user/CredereChannel" class="youtubeverweise">Martin Finger</a>
      </li>
    
      <li>

      <a target="_blank" href="https://www.youtube.com/user/OliverJanich" class="youtubeverweise">Oliver Janich</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/channel/UCfQJbKi49Xt9SzppAZgAPVg" class="youtubeverweise">Goldener Broiler</a>
      </li>
    
      <li>
      <a target="_blank" href="https://www.youtube.com/user/Freiheitsfunke" class="youtubeverweise">Freiheitsfunke</a>
      </li>
    
      <li>
      <a target="_blank" href="https://www.youtube.com/channel/UCxctM4ryyQl2_lqOfyYkgYg" class="youtubeverweise">Stimme der Vernunft</a>
      </li>
    
        <li>
      <a target="_blank" href="https://www.youtube.com/channel/UCtzidL8XjgGmIlMEyGG52XA" class="youtubeverweise">Roberto Solano</a>
      </li>
      
      <li>
      <a target="_blank" href="https://www.youtube.com/user/Wertewirtschaft" class="youtubeverweise">Institut f&uuml;r Wertewirtschaft</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/misesde" class="youtubeverweise">Misesde</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/channel/UCz0k8rJctAmuweFc86_xj-g" class="youtubeverweise">Michael Siegmund</a>
      </li>
    
    
  </div>
         

  <div class="spalte">

    <h4>Youtube-Kan&auml;le (englisch):</h4>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/stefbot" class="youtubeverweise">Stefan Molyneux</a>
      </li>
    
      <li>
      <a target="_blank" href="https://www.youtube.com/user/LarkenRose" class="youtubeverweise">Larken Rose</a>
      </li>
    
      <li>
      <a target="_blank" href="https://www.youtube.com/channel/UCFJNcE0iHj7P6dhp5iCZRLg" class="youtubeverweise">LearnLiberty</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/LibertyInOurTime" class="youtubeverweise">LibertyinOurTime</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/StatelessLiberty" class="youtubeverweise">StatelessLiberty</a>
      </li>
    
      <li>
      <a target="_blank" href="https://www.youtube.com/user/praxgirl" class="youtubeverweise">Praxgirl</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/AdamKokesh" class="youtubeverweise">Adam Kokesh</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/JosieTheOutlaw1" class="youtubeverweise">Josie Outlaw1</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/LewRockwellShow" class="youtubeverweise">Lew Rockwell</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/nskinsella" class="youtubeverweise">Stephan Kinsella</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/JacobSpinney" class="youtubeverweise">Jacob Spinney</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/jatucker321" class="youtubeverweise">Jeffrey Tucker</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/watch?v=YX14hDJTI4s" class="youtubeverweise">Robert Murphy</a>
      </li>
    
    
     
  </div>

                
      
                  
   
</div>

                 
                  	
<br style="clear:both;">
<p>&nbsp;<br><br> </p>
<p style="text-align: center">***</p>

<br>      
 
			
 	<p>&nbsp;<br><br> </p>

            <li style="list-style:none inside none;";> &nbsp;           
 <a href="<%= url('/')%>">
<font color="#FF0000" face="Segoe Script" size="3"> ... zurückblättern</font></a></li>
      
              
</div>
