	<p style="font-size: 18px;">Hallo und herzlich Willkommen,</p>
            	<br>
            	
            <p>	wir von globalefreiheit.de fordern nicht weniger als ... globale Freiheit! <br><br>
            
            Was sonst? 
          <br><br>
           
            	Also Freiheit auf der ganzen Welt f&#252;r alle Menschen! </p>

<p>Was verstehen wir unter Freiheit? <br><br>

Freiheit ist die Abwesenheit der Herrschaft von Menschen über Menschen!<br><br>

Was verstehen wir unter Herrschaft? <br><br>

Herrschaft ist Zwang, der mit angreifender Gewalt durchgesetzt wird! <br> <br>

Was verstehen wir unter Gewalt? <br><br>

Gewalt ist eine ausschliesslich körperliche und immer erzwungene Schädigung!<br><br>

Ganz einfach.</p>
<br>
<p> Und wenn wir von globalefreiheit.de etwas sagen oder schreiben, <br>
dann meinen wir das auch so und machen da nur ungern Kompromisse. <br>
Wir glauben, dass es auch ohne geht, ohne Herrschaft und angreifender Gewalt zwischen Menschen. <br>
Daf&#252;r mit Freiwilligkeit. <br><br>

Wir glauben, dass alle Probleme, selbst die globalen, genau so gel&#246;st werden k&#246;nnen, <br>
so wie wir von globalefreiheit.de unsere Probleme l&#246;sen. Fast immer freundlich und immer fair.<br> 
Nur niemals einen anderen Menschen zu irgend etwas zwingen, der uns nichts getan hat, <br>
das ist unsere Maxime.</p>

<p>Es wird h&#246;chste Zeit f&#252;r globale Freiheit und daher haben wir nun diese Seite ins Leben gerufen, <br>
um t&#228;glich zeitlose Beiträge aus freiheitlicher Sicht zu pr&#228;sentieren und jeden zu globaler Freiheit einzuladen.</p>

<p>Wir, das sind ein paar Berliner und fast ganz normale, durchschnittliche Typen, <br> 
die sich f&#252;r Freiheit einsetzen und das f&#252;r alle Menschen immer und überall. <br>
Wir fordern Freiheit uneingeschr&#228;nkt, unverhandelbar und solange wir noch d&#252;rfen. <br>
Ab dann nur noch heimlich. </p>

<p>Uns ist bewusst, dass uns diese Forderung noch zu Aussenseitern macht, <br>
denn die Nachfrage nach Herrschaft ist global immer noch allgegenw&#228;rtig,  <br>
und lässt sich auch sicher nicht von Heute auf Morgen einfach so &#252;berwinden. <br>
Noch nicht.</p>

<p>
Wir von globalefreiheit.de möchten auch gar nicht erst versuchen die Politik zu ver&#228;ndern oder dergleichen. <br>
Wir wollen einfach nichts mit ihr zun tun haben. <br><br>

Wir fordern Freiheit, auch ohne zu wissen was in Freiheit passiert, <br>
und m&#246;chten Wege und Denkweisen aufzeigen, die Zwang und Gewalt zwischen Menschen ausschliessen. <br>
Mehr nicht. <br><br>

Evolution statt Revolution!<br> <br>

Spenden statt Steuern! Satt statt Staat! Globale Freiheit f&#252;r alle Menschen auf der Welt! 

</p>
<br>
<p>In diesem Sinne freuen wir uns nat&#252;rlich &#252;ber alle, welche unserer Einladung folgen und eben so globale Freiheit fordern. 
Ein dickes Dankesch&#246;n an dieser Stelle f&#252;r die vielen Beitr&#228;ge, die uns zur Verf&#252;gung gestellt werden, 
und ganz besonders an die Jungs von Freiwilligfrei, sowie an alle, die uns sonstwie unterst&#252;tzen und mit Rat und Tat zur Seite stehen. <br><br>

In diesem Sinne nun aber wirklich: Viel Spass beim lesen, schauen, hören und selber denken ... </p>
 
<br><br><br><br><br>